<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calender">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calender"
        android:usesCleartextTraffic="true">

        <activity android:name=".ModifyInformation"></activity>
        <activity android:name=".scheduleForm" />
        <activity
            android:name=".detailsCalender"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity android:name=".ModifyInformation"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".calender" />
        <activity android:name=".membership" />
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>